.Players {
  background-color: #FAF9F9;
  margin: 1em auto 0 auto;
  display: grid;
  grid-template-areas: ". dropdown ."
                       ". player-table ."
                       ". paginator .";
  grid-template-columns: 1fr 28fr 1fr;
  grid-template-rows: 1fr 16fr 2fr;
}

#PlayerStatsTable {
  border-spacing: unset;
}

#PlayerStatsTable-div {
  overflow-y: hidden;
  background-color: #FAF9F9;
  grid-area: player-table;
  display: grid;
  th {
    padding: 0.5em 0.5em 0.5em 0.5em;
    cursor: pointer;
  }
  td {
    text-align: center;
    padding: 0.5em 0 0.5em 0;
  }
}

.selected-header {
  background-color: #37BAE3;
  color: #FFFFFF;
}

.non-selected-header {
  background-color: #0A026E;
  color: #FFFFFF;
}

#Players-pagination {
  padding: 0.1em;
  margin-top: 1em;
  margin-bottom: 1em;
  grid-area: paginator;
  display: grid;
  justify-items: center;
  grid-template-areas: ". pagination .";
  grid-template-columns: 1fr 38fr 1fr;
}

.Player-Paginator {
  width: 90%;
  height: 3em;
  grid-area: pagination;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  p {
    text-align: center;
  }
  button {
    border: none;
    background-color: #F0F0F0;
    font-size: 0.9rem;

    &:focus {
      outline: None;
    }
  }
}

#Players-type-dropdown-div {
  grid-area: dropdown;
}

#player-type-dropdown {
  width: 20em;
  background-color: transparent;
  padding: 0.5em;
  font-size: 1rem;
  border: none;
  border-bottom: 0.1em solid #000000;

  &:focus {
    outline: None;
  }
}

@media screen and (max-width: 500px) {
  #player-type-dropdown {
    width: 70%;
  }
}