.Players {
  background-color: #FAF9F9;
  width: 90%;
  margin: 1em auto 0 auto;
}

#PlayerStatsTable {
  border-spacing: unset;
}

#PlayerStatsTable-div {
  overflow-y: hidden;
  background-color: #FAF9F9;;
  margin-top: 1em;
  th {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #0A026E;
    color: #FFFFFF;
    cursor: pointer;
  }
  td {
    text-align: center;
    padding: 0.5em 0 0.5em 0;
  }
}

#Players-pagination {
  border: 0.1em solid red;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#Players-type-dropdown-div {
}
