#Back-to-top-button {
  height:5em;
  width: 5em;
  float: right;
  outline: None;
  background-color: greenyellow;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 1em;
  right: 1em;

  &:hover {
    background-color: blue;
  }
}
