#Team-card-layout-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1200px) {
  #Team-card-layout-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  #Team-card-layout-div {
    grid-template-columns: 1fr;
  }
}

#Teams-searchbar {
  height: 2em;
  margin: 1em 1em 0.1em 1em;
  width: 25em;
  border: None;
  border-bottom: 0.1em solid #000000;
  font-size: 1rem;
  &:focus {
    outline: None;
  }
}
