.Matchups-dates-div {
  padding: 0.5em 1em 0.5em 1em;
}

.Matchups-games-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1000px) {
  .Matchups-games-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 675px) {
  .Matchups-games-div {
    grid-template-columns: 1fr;
  }
}

.MatchUps-load-more-div {
  display: grid;
  justify-items: center;
}

.MatchUps-load-more {
  width: 50em;
  height: 3em;
  font-size: 1.2rem;
  margin-bottom: 0.8em;

}
