.extra-info-title{
    font-size: 1rem;
    font-weight: bold;
}

.TeamCard {
    border: 0.1rem solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;

}

.TeamCard-extra-info-div {
}

.TeamCard-title-div {
    display: flex;
    align-items: center;
}

.Team-logo-img {
    flex: 1;
    height: 100px;
    width: 100px;
}

.Team-name {
    flex:3;
}
